{% extends "index.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

<body>

{% block content %}
<br>
<br>



<center>

    Enter the part of speech that you want to get eg. DT, NNP: <br>
    <form action="" method="POST">
         <input type="text"  name="sentence" placeholder="Part of speech" value=""><br>
      <br>
          <input type="submit" value="Get Part of Speech!">
    </form>
</center>


<center>

  {% for line in sentences %}
             <p>{{line}}</p>
    {% endfor %}
    </center>




{% endblock %}

</body>
